PORT=3800

DB_HOST= db_host
DB_PORT= 1234
DB_USER= db_username
DB_NAME=lendsqr_wallet
DB_NAME= db_name

NODE_ENV= development

ADJUTOR_BASE_URL=https://adjutor.lendsqr.com
ADJUTOR_API_KEY=your_api_key
ADJUTOR_APP_ID=your_app_id